<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | Greninja-Ash</title>
    <link rel="shortcut icon" href="../img/greninja-ash.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body class="Greninja-Ash">
    <h1>Greninja-Ash</h1>
    <img src="../img/greninja-ash.png" alt="greninja-ash">
    <p>Tipo: <span id="agua">agua</span> <span id="siniestro">siniestro</span></p>
    <p>Descripción:</p>
    <p>Comprime el agua y crea estrellas ninja con las que ataca al enemigo. Cuando las hace girar a gran velocidad cortan en dos hasta el metal.</p>
    <p style="text-align: center;"><a href="../index.html">Volver a inicio</a></p>
</body>

</html>