<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | Greninja-Ash</title>
    <link rel="shortcut icon" href="../img/greninja-ash.png" type="image/x-icon">
</head>

<body style="font-family: 'Press Start 2P', cursive;">
    <h1>Greninja-Ash</h1>
    <img style="width: 15%;" src="../img/greninja-ash.png" alt="greninja-ash">
    <p>tipo: <span style="background-color: blue; padding: 2px;border-radius: 5px;">agua</span> <span style="background-color: darkgray; padding: 2px;border-radius: 5px;">siniestro</span></p>
</body>

</html>