<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | Tyranitar</title>
    <link rel="shortcut icon" href="../img/tyranitar.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body class="Tyranitar">
    <h1>Tyranitar</h1>
    <img src="../img/tyranitar.png" alt="tyranitar">
    <p>Tipo: <span id="roca">roca</span> <span id="siniestro">siniestro</span></p>
    <p>Descripción:</p>
    <p>Casi ningún ataque hace mella en su cuerpo, por lo que le encanta desafiar a sus enemigos.</p>
    <p style="text-align: center;"><a href="../index.html">Volver a inicio</a></p>
</body>

</html>